.jumbotron {
    background-color: rgb(231, 231, 231);
}

#settings-gear {
    position: absolute;
    width: 30px;
    height: auto;
    top: 0;
    left: 0;
    margin: 5px;
}

#settings-gear:hover {
    cursor: pointer;
}

.add-book-div {
    border: solid 2px #aaa;
    border-radius: 2%;
}

.cover-parent div {
    display: inline-block;
    width: 75px;
    height: 120px;
    font-size: 60%;
}

.cover-parent div:hover {
    cursor: pointer;
}

#book-cover-image {
    width: 100%;
    height: auto;
}

#all-books div {
    position: relative;
    width: 97.5px;
    height: 156px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

#all-books div:hover #delete-book-div {
    opacity: 0.1;
}

#all-books div:hover #delete-book {
    opacity: 1;
}

#all-books div img {
    width: 100%;
    height: 100%;
}

#delete-book-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.2s;
}

#delete-book {
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    font-size: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#delete-book:hover {
    cursor: pointer;
}

#dropdown, #dropdown-heading {
    position: absolute;
    margin-top: -7px;
    right: 20px;
}

#aligned-right {
    position: absolute;
    margin-top: 1px;
    right: 15px;
}

#delete-library-name, #delete-library-owner {
    margin-top: 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: none;
}

#delete-library-name:hover, #delete-library-owner:hover {
    cursor: pointer;
}